body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3a54e9;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #3a54e9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #555;

} header a {
    color: #fff;
    position: relative;
    right: 870px;
    text-align: center;

}

header{
    display: flex;
    justify-content: center;
    text-align: center;
}

.voltar {
    margin-top: 8px;
    text-decoration: none;
    position: relative;
    right: 1020px;
    
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Isso garante que o card ocupe toda a altura do container */
}

.item {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 80%; /* Ajuste conforme necessário */
    margin: 0 auto; /* Isso centraliza o card horizontalmente */
}
#cartaoExibido span {
    color: #3a54e9; /* Altere a cor da letra para a cor desejada (por exemplo, azul) */
}